#introductie {counter-reset: hst_ctr -1;}
#achtergrond {counter-reset: hst_ctr 1;}
#ethiek {counter-reset: hst_ctr 2;}
#technieken {counter-reset: hst_ctr 3}
#ethiekenai {counter-reset: hst_ctr 4;}
#neuralenetwerken {counter-reset: hst_ctr 5;}


:root {
    --text-color-black: #0f0f0f;
    --text-color-white: #f9f9f9;
    --background-color: #dddddd; // #fcfcfc;
    --background-color-question: lightyellow; // #fcfcfc;
    --background-color-nested: lightyellow; // #fcfcfc;
	--background-color-ul-nested: lightblue;
    --background-color-theorie: lightyellow; // #fcfcfc;
    --main-color: #E61B72;
    --secondary-color: #5CBDC5;
    --secondary-blue: #001361;
    --text-area-width: 585px;
	--menu-width: 180px;
	--menu-color: #f9f9f9;
	--sub-menu-bgcolor: #F62B82;
	--menu-fontsize: 1.125em;
	--menu-fontsize-smaller: 0.875em;
	--main-left: 180px;
	--voldoet: lightseagreen;
	--voldoet-niet: red;
	}

html {
    font-family: 'Open Sans', 'Lato', 'Roboto', sans-serif;
    background: var(--background-color);
	font-size:100%;
}

body.index {
	margin:		0px;
	padding: 	0px;
	overflow-y: hidden;
}
 
header {
	overflow:hidden;
    height: 100px;
    width: 100%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--text-color-white);
}

header h1 {
    margin: 0;
}
article , section {
	margin-left:10px;
	margin-right:10px;
}

.titel {
  height: auto;
  font-size: 1.375em;
}

iframe.pagina
{
 width: 100%;
 height: 800px;
 border-width: 0px;
}


.hoofdstuk
{
  text-align:left;
  counter-reset: subsection -1;
  counter-increment: hst_ctr;
}	
.Ahoofdstuk
{
  text-align:left;
  font-size:28px;
  counter-increment: hst_ctr;
  counter-reset: subsection -1;
}	

.hoofdstuk:before
{
	content: "Hoofdstuk " counter(hst_ctr) ": ";

}
.Ahoofdstuk:before
{
	content: counter(hst_ctr) ": ";
}
.paragraaf
{
	counter-increment: subsection 1;	
}
.paragraaf:before
{
    content:counter(hst_ctr) "." counter(subsection) ": ";
}
.Aparagraaf
{
	counter-increment: subsection 1;	
}
.Aparagraaf:before
{
    content:counter(hst_ctr) "." counter(subsection) ": ";
}

.rechts{
	float: right;
	margin-left: +20px;
}
.links{
	float: left;
	margin-right: +20px;
}
.midden{
	text-align: center;
}
.center{
	margin: auto;
}
.theorie
{
	background-color: var(--background-color-theorie);
	border-radius: 20px;
	padding: 10px;
	
}
.theoriespan
{
	background-color: var(--background-color-theorie);
	border-radius: 20px;
	padding: 0px 10px 0px 10px;
		
}
.code
{
	background-color: var(--background-color-ul-nested);
}
table{
	border-collapse: collapse;
}
td, th
{
	border: solid 1px black;
	padding-left: 2px;
	padding-right: 2px;
	
}
table.rechts
{
	float: right;
	border: solid 1px black;
	text-align: left;
	border-collapse: collapse;
	margin-left: 10px;
}

table.rechts td, th
{
	background-color: var(--main-color);
	color: white;
}

table.rechts caption
{
	border: solid 1px black;
	background-color: var(--main-color);
	color: white;
	padding: 10px;
}
dt{
	font-weight: bold;
}

.speciaal {
  display: flex;
  padding-bottom: 10px;
}
.speciaal span
{
  padding-left: 10px;
}

#speciaal:before {
  display: flex;
  align-items: top;
}

.hammer:before{
  content:"🛠 ";
}

.idea:before{
  content:"💡 ";
}
.example:before{
  content:"👓 ";
}
.important:before{
  content:"🚨 ";
}
.book:before{
  content:"📗 ";
}

.uitdaging{
  font-family: Century Gothic;
  color: var(--text-color-white);
  background-color: var(--main-color);
  cursor: pointer;
}

.voldoet
{
	background-color: var(--voldoet);
}

.voldoetNiet
{
	background-color: var(--voldoet-niet);
}

table.borders1bc td, table.borders1bc th
{
	border: solid 1px black;
	border-collapse: collapse;
}

table.rechtsuitlijnen td, table.rechtsuitlijnen th
{
	text-align: right;
}
.borderlinks
{
	border-left: solid 4px black;
	padding-left: 4px;
}
.borderrechts
{
	border-right: solid 4px black;
}
table.rubrics
{
	border-collapse: collapse;
}
table.rubrics td,th,thead,tbody
{
	vertical-align: top;
}
table.nnapp td
{
	border: none;
}
